# Dependencies
**/node_modules

# Next.js build output
**/.next

# Firebase build output
out
*.log
**/*.cache

# Environment Variables
.env.local
service-account-credentials*
*creds.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
